* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #111111;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.website {
  width: 1000px;
  margin: 0 auto 1px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}

.menu .item {
  background-color: #ffffff;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
  border: 1px solid #eaeaea;
  border-left: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.menu .item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #eaeaea;
}

.menu .item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu .item.selecionado {
  background-color: #2C135D;
  color: #ffffff;
  font-weight: bold;
}

.menu .item:not(.selecionado):hover {
  background-color: #A28BCF;
  color: #ffffff;
  font-weight: bold;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts .post {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.posts .post strong {
  word-break: break-all;
}

.posts .post strong:hover {
  text-decoration: underline;
  color: #333333;
}

.posts .post img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 298px;
  height: 184px;
  object-fit: cover;
}

.posts .post:hover {
  box-shadow: 0px 0px 10px 0px #eeeeee;
}

.posts .post .conteudo {
  padding: 20px;
}

.posts .post .titulo {
  color: #2C135D;
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 10px;
}

.top{
  background: #ffffff;
}

@media screen and (min-width: 769px) {
  .website {
    width: 100%;
  }

  .menu {
    display: flex;
    position: fixed;
    width: 100%;
    
    
  }
}


@media screen and (max-width: 768px) {
  .website {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu{
    width:100%; 
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
  }
 
  .posts .post img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
  .posts .post1 img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
   .posts{
    width: 100%; 
    flex-direction: column;
    flex-wrap: wrap;
  }

  .conteudo{
    justify-items: center;
  }

  .posts .post{
    width: 100%;
    justify-items: center;
  }

  .posts .post .clonetinder{
    margin-top: 200px;
  }
 
}
  


 a{
  text-decoration: none;
  color: black;
 }

 .posts {
  margin-top: 60px; 
  
}